/*reset*/
html, body, div, span, a, p, main {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    background: transparent;
  }
  
  html {
    background-color: rgb(0, 120, 0);
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 300;
    background: #c0c0c0;
    width: 100%;
    height: 100%;
  }
  
  main {
    position: fixed;
    left: 50.2%;
    top: 48.5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  
    font-size: 2vw;
    text-align: center;
  
    width: 33vw;
    height: 33vw;
    padding:4vw;
    border-radius: 50%;
    transition: 0.2s;
  }
  
  #launch-fractal{
    display: block;
    margin: 0 auto;
  
    width: 100%;
    height: 100%;
    padding: 4vw;
    border-radius: 50%;
  
    transform: translate(-4vw, -4vw);
    -webkit-transform: translate(-4vw, -4vw);
  
  
  }
  
  /*alternate way to position #launch-fractal with same result*/
  /*#launch-fractal{
    display: block;
    position: absolute;
    height: calc(100% - 8vw);
    width: calc(100% - 8vw);
    padding: 4vw;
    border-radius: 50%;
  }*/
  
  #fractal-title {
    font-size: 2.5vw;
    letter-spacing: 0.02em;
    padding-top: 2.7vw;
  
    /*this is to avoid having hover of the title's square edges cause hover to
    be activated on it's parent (launch-fractal), which is a circle*/
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  #launch-text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    font-size: 2.2vw;
    letter-spacing: 0.02em;
  }
  
  #credit-line {
    display: block;
    position: absolute;
    bottom: 5vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5vw;
    line-height: 1.3em;
  }
  
  #credit-line:hover .link {
      color: #009800;
  }
  
  main:hover, .touch main {
    background-color: #b0b0b0;
    box-shadow: 0 0 1vw rgba(0,60,0,0.4);
    transition: 0.3s;
  }
  
  #launch-fractal:hover #launch-text {
    transition: 0.2s;
    color: #009800;
  }
  
  #launch-detailed-fractal {
    position: fixed;
    top: 49%;
    right: 0;
    transform: translate(42%, -50%) rotate(90deg);
    -webkit-transform:  translate(42%, -50%) rotate(90deg);
  
    margin-right: -1vw;
    font-size: 1.7vw;
  }
  
  .touch #launch-detailed-fractal {
    font-size: 2.1vw;
  }
  
  a, #fractal-canvas {
    cursor: pointer;
  }
  
  a:link {
    color: #000000;
    text-decoration: none;
  }
  
  a:visited {
    color: #000000;
  }
  
  .link:hover {
    color: #009800;
  }
  
  .link {
    color: #007800;
  }
  
  #fractal-background {
    position: fixed;
    width: 100vw;
  
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  
  .clear-fix:after {
    content: "";
    display: block;
    clear: both;
  }
  
  #fractal-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  
  #fractal-graphics {
    display: none;
    margin: none;
  }
  
  #loading-fractal {
    position: fixed;
  
    top: 0;
    left: 0;
    display: none;
    width: 400%;
    height: 400%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #loading-frac-text {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: #c0c0c0;
    padding: 1vw 3vw;
    border-radius: 1vw;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 5vmin;
    text-align: center;
  }
  
  #loading-frac-title {
    font-size: 10vmin;
  }
  
  @media (orientation: landscape) and (max-width: 650px), (orientation: landscape) and (max-height: 550px), (orientation: portrait) and (max-height: 650px), (orientation: portrait) and (max-width: 550px) {
  
    #fractal-background {
      display: none;
    }
  
    main {
      width: 70vmin;
      height: 70vmin;
      padding:8vmin;
      font-size: 4vmin;
      background-color: #b0b0b0;
      box-shadow: 0 0 1vw rgba(0,60,0,0.4);
      transition: 0.3s;
    }
  
    #fractal-title {
      font-size: 5.5vmin;
      padding-top: 5.4vmin;
    }
  
    #launch-text {
      font-size: 5vmin;
    }
  
    #credit-line {
      font-size: 3.5vmin;
      bottom: 10vmin;
    }
  
    #launch-detailed-fractal, .touch #launch-detailed-fractal {
      font-size: 3.5vmin;
      white-space: nowrap;
      padding-bottom: 1.7vmin;
  
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0) rotate(0deg);
      -webkit-transform:  translate(-50%, 0) rotate(0deg);
    }
  
  }